@model LOC_CountryModel;

@{
    string opration = "";
    if (ViewBag.ID > 0)
    {
        opration = "Edit";
    }
    else
    {
        opration = "Add";
    }
}

<div class="row ">
<div class="col-lg-8 align-items-center">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@opration Record</h5>
            <!-- Horizontal Form -->
                <form asp-action="LOC_countryAddEdit" asp-controller="Loc_Country" method="POST">
                    @Html.HiddenFor(x => x.CountryID)
                <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Country Name</label>
                    <div class="col-sm-9">
                        <input asp-for="CountryName" type="text" class="form-control">
                        <span asp-validation-for="CountryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Country Code</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="CountryCode" class="form-control">
                        <span asp-validation-for="CountryCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-primary">@opration Record</button>
                </div>
            </form><!-- End Horizontal Form -->

        </div>
    </div>

</div>
</div>