@model LOC_CountryModel;

@{
   
    string opration = "";
    if (ViewBag.ID > 0)
    {
        //opration = "LOC_countryEdit";
        
        <div class="alert alert-primary alert-dismissible fade show" role="alert">
            A simple primary alert—check it out!
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    else
    {
        //opration = "LOC_countryAdd";
    }
}

<div class="row ">
<div class="col-lg-8 align-items-center">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Horizontal Form</h5>
            <!-- Horizontal Form -->
                <form asp-action="LOC_CountryAddEdit">
                    <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Country Name</label>
                        <div class="col-sm-9">
                            <input asp-for="CountryID" type="text" class="form-control" disabled>
                            
                        </div>
                    </div>
                <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Country Name</label>
                    <div class="col-sm-9">
                        <input asp-for="CountryName" type="text" class="form-control">
                        <span asp-validation-for="CountryName" class="text-danger"></span>
                    </div>
                </div>
                <div class="row mb-3">
                        <label class="col-sm-3 col-form-label">Country Code</label>
                    <div class="col-sm-9">
                        <input type="text" asp-for="CountryCode" class="form-control">
                        <span asp-validation-for="CountryCode" class="text-danger"></span>
                    </div>
                </div>
                <div class="text-left">
                    <button type="submit" class="btn btn-primary">Add Record</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                </div>
            </form><!-- End Horizontal Form -->

        </div>
    </div>

</div>
</div>